@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts';

@layer base {
  :root {
    font-family:'Solina Extended Book', 'Solina Extended Medium', 'Recoleta Regular', 'Recoleta Medium', 'Recoleta SemiBold', -apple-system, sans-serif;
    --font-family:'Solina Extended Book', 'Solina Extended Medium', 'Recoleta Regular', 'Recoleta Medium', 'Recoleta SemiBold', -apple-system, sans-serif;
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-beige-primary: 47deg, 100%, 95%;
    --color-green-primary: 68deg 83% 63%;
    --color-green-secondary: 124deg, 100%, 25%;
    --color-green-tertiary: 178deg, 100%, 7%;
    --color-orange-primary: 34deg, 88%, 76%;
    --color-orange-secondary: 13deg, 81%, 76%;
    --color-red-primary: 3deg, 71%, 52%;
  }
  * {
    min-width: 0;
  }
  html {
    font-family: var(--font-family);
  }
  body {
    min-height: 100dvh;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  p {
    text-wrap: pretty;
  }
}
